@tailwind base;
@tailwind components;
@tailwind utilities;

/* For small devices (less than 768px) */
@media screen and (max-width: 768px) {
    header .max-w-screen-xl {
      padding-left: 8px;
      padding-right: 8px;
    }
  
    header .text-3xl {
      font-size: 2rem; /* Smaller logo for small devices */
    }
  
    header nav {
      display: none; /* Hide the menu on small devices initially */
    }
  
    header .hamburger-menu {
      display: block; /* Show the hamburger menu */
    }
  }
  
  /* For large devices (above 768px) */
  @media screen and (min-width: 768px) {
    header nav {
      display: block; /* Display the menu normally on larger screens */
    }
  
    header .hamburger-menu {
      display: none; /* Hide the hamburger on larger screens */
    }
  }

/* Keyframes for typing and erasing effects */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes erasing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* Control the typing/erasing animation */
.typing-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black; /* Simulates cursor */
  animation: typing 0.1s steps(30) 1 forwards, blink 0.75s step-end infinite;
}

/* Blinking cursor */
@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* Transition for the erasing effect */
.typing-text.erasing {
  animation: erasing 0.1s steps(30) forwards;
}